/* NICK showLowStock.css */

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
}

.logo {
  position: absolute;
  padding: 0px;
  top: 5px;
  left: 674px;
  width: 150;
  height: 150px;
  z-index: 1;
}

.lowstock-container h1 {
  font-size: 18px;
  margin-top: 20px;
  margin-left: 10px;
  text-align: center;
}
/*
h2 {
  font-size: 15px;
  left: 50%;
  font-weight: 100;
  margin-left: 0px;
}
*/


/*table styling
https://www.html.am/html-codes/tables/table-border.cfm*/

.lowstock-container {
  border-collapse: collapse;
  color: #000;
  font-size: 14px;
  padding: 10px;
  margin: 20px 0;
  margin-left: 5px;
  max-width: 50%;
}

.lowstock-container th {
  background-color: #2a349d;
  color: white;
  width: 4%;
  text-align: center;
}

th:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

th:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}


.lowstock-container td,
.lowstock-container th {
  padding: 5px;
  border: 0;
}


.lowstock-container td {
  border-bottom: 1px dotted #bdb76b;
  text-align: center;
}
