/* Bobby addfunction.css */
/*changelog combined the 4 css pages into 
when adding the other 2 tables no room
had to dedicate alot of time trying to fit everything in one page without overlapping tables
shoot my brain playing tetris
*/


.input-field {
    margin-bottom: 10px;
}
  
.button-width {
    flex: 0; /* Do not grow, maintain button width */
    width: 100%; /* Let content determine button width */
    max-width: 500px; /* Disable maximum width */
}

.d-flex.flex-column.align-items-center {
    /* Add new CSS rules */
    height: 100%; /* Ensure the column fills the height of the row */
    justify-content: center; /* Vertically center the content */
}


  
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 80vh;
    background: #F0F8FF;

}

.addfunction-container {
    width: 200px;
    margin: 50px auto;
    position: absolute;
    left: 50px;
    padding: 20px;
    background-color: #8bb6db;
    border: 1px solid #ccc;
    top: 50px;
}

h1 {
    font-size: 20px;
    /*text-align: center;*/
    margin-bottom: 20px;
}

h2 {
    font-size: 15px;
    font-weight: 100;
    text-align: center;
}



.addfunction-container h1 {

    left: 50%;
    text-align: center;
    margin-bottom: 20px;
}

.addfunction-container input[type="text"],
.addfunction-container input[type="number"]{
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.addfunction-container button {
    width: calc(100% - 22px);
    padding: 10px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.addfunction-container button:hover {
    width: 210px;
    background-color: #0056b3;
}

.addfunction-container .error-message {
    color: #ff0000;
    margin-top: 10px;
}

.display-container {
    margin-left: 300px;
    padding: 20px;
    width: 60%;
    display: inline-block;
    position: relative;
    top: 100px;
}

.display-container table {
    width: 100%;
    border-collapse: collapse;
}

.display-container th,
.display-container td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    background-color: white;
}

.display-container h1 {
    text-align: center;
    position: absolute; 
    top: -70px;
    left: 100px; 

}


.section-content {
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
}
