/* product.css */

/*
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  background: #fff;

}


.logo {
  position: absolute;
  padding: 0px;
  top: 5px; 
  left: 674px;
  width: 150;
  height: 150px;
  z-index:1;
}


.deleteproduct-container {
  width: 400px;
  margin: auto;
  position: absolute;
  left: 500px;
  top: 50px;
  padding: 20px;
  background-color: #F0F8FF;
}


h1 {
  font-size: 20px;
  margin-top: 50px;
  margin-left: 0px;


}

h2 {
  font-size: 15px;
  left: 50%;
  font-weight: 100;
  margin-left: 0px;

}




.deleteproduct-container h1 {
  top: 50%;
  left: 50%;
  text-align: center;
  margin-bottom: 20px;
}

.deleteproduct-container input[type="product_id"]{
  width: 100%;
  padding: 10px;  
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.deleteproduct-container button {
  width: 420px;
  padding: 10px;
  margin-top: 10px;
  background-color: #db344a;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.deleteproduct-container button:hover {
  width: 420px;
  background-color: #8b0a15;
}

.deleteproduct-container .error-message {
  color: #4c0d94;
  margin-top: 10px;
}
*/